@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');

body {
    font-family: 'Catamaran', sans-serif;
}

img {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:85%;   
    
}

#center{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

#conteiner{
    position: relative;
    display: none;
}

.botones {
    width: 85%;
    background-color: #4CAF50;
    font-size: 16px;
    padding: 14px 40px;
    border: 2px solid #4CAF50;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.botones:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }