@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');

body {
    font-family: 'Catamaran', sans-serif;
}

input {
    width: 80px;
    padding: 12px 20px;
    margin: 20px ;
    display: inline-block; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

img {
    width: 1000px;
    display: none;
}