@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');

html {
    background-image: url("wall2.jpg") ;    
    background-color: black;
    /* height:00px; */
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;     
}

body{
    font-family: 'Catamaran', sans-serif;        
    background-color: transparent;   
    color: white;
    
}


input{    
    width: 80px;
    padding: 12px 20px;
    margin: ;
    display: inline-block; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
}

label{
    display: block;
    /* margin:32px; */
}

button{
    display: block;
    margin:auto;
    width: 200px;
    font-family: inherit;
    padding:12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.seccion{
    background-color: rgba(74, 139, 2,0.2);           
    display:block;
    margin:auto;
    /* line-height: 200px; */
    height: ;
    width: 500px;    
    padding: 12px 0;
    text-align: center;   
    border-radius: 20px;
    
}

#nombreEquipo{
    width: 200px;
    text-align: center;
}

#numeroEquipos{
    width: 200px;
    text-align: center
}

#creacionEquipos{
    display: none;
} 

#partidosCopa {
    display:none;
}

#campeon {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:85%;   
    
}

#center{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

#conteiner{
    background: none;
    position: relative;
    display: none;
}

.botones {
    width: 85%;
    background-color: #4CAF50;
    font-size: 16px;
    padding: 14px 40px;
    border: 2px solid #4CAF50;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.botones:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
