@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');


body{
    font-family: 'Catamaran', sans-serif;    
    background-image: url("wall2.jpg");    
    background-size: cover;  
    background-position: center;   
    position: relative;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;  
}


input{
    display: block;
    margin:32px;
}

label{
    display: block;
    margin:32px;
}

button{
    display: block;
    margin:32px;
    font-family: inherit;
    

}

span {
    margin:32px;
}

#creacionEquipos{
    display: none;
} 

#partidosCopa {
    display:block;
}
